<div *ngIf="!isAuthorized">
  <button id="sign-in-or-out-button" style="margin-left: 25px" (click)="signIn()">Sign In/Authorize</button>

  <div id="auth-status" style="display: inline; padding-left: 25px">You have not authorized this app or you are signed out.</div>
</div>

<div *ngIf="isAuthorized">
  <button id="sign-in-or-out-button" style="margin-left: 25px" (click)="signOut()">Sign out</button>
  <button id="revoke-access-button" style="margin-left: 25px; display: inline-block" (click)="revokeAccess()">Revoke access</button>

  <div id="auth-status" style="display: inline; padding-left: 25px">You are currently signed in and have granted access to this app.</div>
</div>

<button (click)="beginTransation()">Begin Transaction</button>